html {
  font-family: helvetica;
  text-align: center;
}

.header {
background-image:url("../images/flatiron.png");
background-repeat: no-repeat;
background-size: 100% 100%;
color: white;
}

.footer {
text-align: left;
font-size: 11px;
color: white;
background-color: dimgray;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
font-size: 23px;
font-weight: bold;
}

p {
  font-size: 14px;
}

a:link {
  color:white;
  font-size: 18px;
}
